app/model/db/db_settings
venv
../../../.idea
.idea
app/model/models/__pycache__
app/model/db/__pycache__
app/controller/__pycache__
app/viewer/__pycache__
app/model/repository/__pycache__
app/model/alembic.ini